{% extends "layout.html" %}

{% block head %}
    Homepage
{% endblock %}

{% block body %}
    <br>
    <img src="static/logo.jpg" alt="logo vvlimmen" style="width: 20%; float: left; margin-top: 20px;">
    <div class="table_header" id="header_label">Op de platte kar!</div>
    <div class="page-text">Al enkele weken onderweg en nog geen wedstrijd verloren. Dat is nog eens een positief bericht.
        Verder in de beker en goed op weg naar het kampioenschap, of zoals dames 2 het noemt: Op naar de platte kar!!
        Op deze website kunt u een overzicht zien van het seizoen van VVLimmen vrouwen 2. Neem bijvoorbeeld een kijkje op de pagina
        met alle overwinningsfoto's of bekijk de uitslagen van de gespeelde wedstrijden.
    </div>
{% endblock %}