{% extends "layout.html" %}

{% block head %}
    Overwinningfoto's
{% endblock %}

{% block body %}
    <header class="page-text">Foto's van de gewonnen wedstrijden</header>
    <div class="container" id="position_images">
        <div class="figure">
            <p><img class="image" src="static/beker_wsv.jpg" alt="beker_wsv"></p>
            <p>Limmen VR2 - WSV VR2</p>
        </div>

        <div class="figure">
            <p><img class="image" src="static/beker_ado.jpg" alt="beker_ado"></p>
            <p>ADO VR2 - Limmen VR2</p>
        </div>

        <div class="figure">
            <p><img class="image" src="static/beker_uitgeest.jpg" alt="beker_uitgeest"></p>
            <p>FC Uitgeest VR2 - Limmen VR2</p>
        </div>

        <div class="figure">
            <p><img class="image" src="static/beker_weesp.jpg" alt="beker_weesp"></p>
            <p>Limmen VR2 - Weesp VR2</p>
        </div>

        <div class="figure">
            <p><img class="image" src="static/wmc.jpg" alt="wmc"></p>
            <p>WMC VR1 - Limmen VR2</p>
        </div>

        <div class="figure">
            <p><img class="image" src="static/victoria.jpg" alt="victoria"></p>
            <p>Limmen VR2 - Victoria O VR1</p>
        </div>

        <div class="figure">
            <p><img class="image" src="static/rkedo.jpg" alt="rkedo"></p>
            <p>Limmen VR2 - RKEDO VR2</p>
        </div>

        <div class="figure">
            <p><img class="image" src="static/hsv.jpg" alt="hsv"></p>
            <p>HSV VR2 - Limmen VR2</p>
        </div>

        <div class="figure">
            <p><img class="image" src="static/bergen.jpg" alt="bergen"></p>
            <p>Limmen VR2 - V.V.Bergen VR2</p>
        </div>

        <div class="figure">
            <p><img class="image" src="static/dirkshorn.jpg" alt="dirkshorn"></p>
            <p>Limmen VR2 - Dirkshorn VR2</p>
        </div>
        
        <div class="figure">
            <p><img class="image" src="static/zeevogels.jpg" alt="zeevogels"></p>
            <p>Zeevogels VR2 - Limmen VR2</p>
        </div>
    </div>
{% endblock %}