{% extends "layout.html" %}

{% block head %}
    Spelers
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <ul style="padding: 0; font-size: 15px;">
                    <li>Trainer: Frank</li>
                    <li>Grensrechter: Steve</li>
                </ul>
            </div>

            <div class="col-sm">
                <div class="list-header">Verdedigers</div>
                <ul style="padding: 0; font-size: 15px;">
                    <li>Keepster: Femke</li>
                    <li>Chantal</li>
                    <li>Demi</li>
                    <li>Femke</li>
                    <li>Gaby</li>
                    <li>Irene</li>
                    <li>Sanne</li>
                    <li>Sanna</li>
                    <li>Tamara</li>
                </ul>
            </div>

            <div class="col-sm">
                <div class="list-header">Middenvelders</div>
                <ul style="padding: 0;">
                    <li>Els</li>
                    <li>Femke</li>
                    <li>Isabelle</li>
                    <li>Jacq</li>
                    <li>Maxime</li>
                    <li>Romy</li>
                </ul>
            </div>
            
            <div class="col-sm">
                <div class="list-header">Aanvallers</div>
                <ul style="padding: 0;">
                    <li>Barbara</li>
                    <li>Maartje</li>
                    <li>Marcella</li>
                    <li>Marit</li>
                    <li>Rianne</li>
                    <li>Silvie</li>
                    <li>Yvanka</li>
                </ul>  
            </div>
        </div>
    </div>
{% endblock %}