{% extends "layout.html" %}

{% block head %}
    Uitslagen
{% endblock %}

{% block body %}
    <br>
    <header class="table_header">Competitie</header>
    <table>
        <tr>
            <th>Wedstrijd</th>
            <th>Eindstand</th>
            <th>Datum</th>
        </tr>
        <tr>
            <td>Zeevogels VR2 - Limmen VR2</td>
            <td>0 - 2</td>
            <td>17-11-2019</td>
        </tr>
        <tr>
            <td>Limmen VR2 - Dirkshorn Vr1</td>
            <td>1 - 0</td>
            <td>10-11-2019</td>
        </tr>
        <tr>
            <td>Limmen VR2 - VVBergen VR2</td>
            <td>9 - 0</td>
            <td>03-11-2019</td>
        </tr>
        <tr>
            <td>HSV VR2 - Limmen VR2</td>
            <td>0 - 1</td>
            <td>27-10-2019</td>
        </tr>
        <tr>
            <td>Limmen VR2 - RKEDO VR3</td>
            <td>9 - 1</td>
            <td>20-10-2019</td>
        </tr>
        <tr>
            <td>Limmen VR2 - Victoria O VR1</td>
            <td>3 - 1</td>
            <td>13-10-2019</td>
        </tr>
        <tr>
            <td>ST Kleine Sluis/ZAP VR1 - Limmen VR2</td>
            <td>1 - 1</td>
            <td>06-10-2019</td>
        </tr>
        <tr>
            <td>WMC VR1 - Limmen VR2</td>
            <td>0 - 1</td>
            <td>22-09-2019</td>
        </tr>
    </table>

    <br>
    <header class="table_header">Beker</header>
    <table>
        <tr>
            <th>Wedstrijd</th>
            <th>Eindstand</th>
            <th>Datum</th>
        </tr>
        <tr>
            <td>Limmen VR2 - FC Weesp VR1</td>
            <td>3 - 1</td>
            <td>23-10-2019</td>
        </tr>
        <tr>
            <td>Uitgeest VR2 - Limmen VR2</td>
            <td>2 - 4</td>
            <td>15-09-2019</td>
        </tr>
        <tr>
            <td>ADO VR2 - Limmen VR2</td>
            <td>0 - 6</td>
            <td>08-09-2019</td>
        </tr>
        <tr>
            <td>Limmen VR2 - WSV VR2</td>
            <td>2 - 1</td>
            <td>01-09-2019</td>
        </tr>
    </table>
{% endblock %}